<tr>
	<td class="indent"></td>
	<td>{{ name }}</td>
	<td>
		<a href="{{ url('facultyinfo_firstparty_businesshours_update', { 'facilityId' : id } ) }}"><img class="tableButton" src="{{ asset('img/buttons/edit.png') }}" /></a>
		<a href="{{ url('facultyinfo_firstparty_businesshours_delete', {'facilityId' : id } ) }}"><img class="tableButton" src="{{ asset('img/buttons/delete.png') }}" /></a>
	</td>
</tr>