{% extends "::frame.html.twig" %}

{% block title %}{% trans %}userManagement.delete.title{% endtrans %}{% endblock %}
{% block header %}{{ name }}{% endblock %}
{% block subheader %}{% trans %}userManagement.delete.subheader{% endtrans %}{% endblock %}

{% block breadcrumb %}
	{{ include(':Breadcrumb:start.html.twig') }}
	{{ include(':Breadcrumb:path.html.twig', {'title': 'userManagement.overview.title', 'target': url('facultyinfo_user_overview') }) }}
	{{ include(':Breadcrumb:current.html.twig', {'title': 'userManagement.delete.title', 'target': app.request.uri }) }}
{% endblock %}

{% block menu %}
	{{ include('::menuItem.html.twig', {'url': url('facultyinfo_firstparty_overview'), 'label': 'menu.firstParty.label', 'tooltip': 'menu.firstParty.tooltip' }) }}
	{{ include('::menuItem.html.twig', {'url': url('facultyinfo_thirdparty_overview'), 'label': 'menu.thirdParty.label', 'tooltip': 'menu.thirdParty.tooltip' }) }}
	{{ include('::menuItemCurrent.html.twig', {'url': url('facultyinfo_user_overview'), 'label': 'menu.user.label', 'tooltip': 'menu.user.tooltip' }) }}
{% endblock %}

{% block content %}
	<h1 class="title">
		{% trans with { '%name%' : name } %}userManagement.delete.text{% endtrans %}
	</h1>
	<br><br>
	<a target="_self" href="{{ url('facultyinfo_user_delete', { 'userId' : id, 'confirmed' : 1} ) }}" class="button rounded medium uni4you">
		{% trans with { '%name%' : name } %}userManagement.delete.confirm{% endtrans %}
	</a>
	<a target="_self" href="{{ url('facultyinfo_user_overview') }}" class="button rounded medium uni4you">
		{% trans with { '%name%' : name } %}userManagement.delete.cancel{% endtrans %}
	</a>		
{% endblock %}
