{% extends "::frame.html.twig" %}

{% block title %}{% trans %}userManagement.overview.title{% endtrans %}{% endblock %}
{% block header %}{% trans %}userManagement.overview.header{% endtrans %}{% endblock %}
{% block subheader %}{% trans %}userManagement.overview.subheader{% endtrans %}{% endblock %}

{% block breadcrumb %}
	{{ include(':Breadcrumb:start.html.twig') }}
	{{ include(':Breadcrumb:current.html.twig', {'title': 'userManagement.overview.title', 'target': url('facultyinfo_user_overview') }) }}
{% endblock %}

{% block menu %}
	{{ include('::menuItem.html.twig', {'url': url('facultyinfo_firstparty_overview'), 'label': 'menu.firstParty.label', 'tooltip': 'menu.firstParty.tooltip' }) }}
	{{ include('::menuItem.html.twig', {'url': url('facultyinfo_thirdparty_overview'), 'label': 'menu.thirdParty.label', 'tooltip': 'menu.thirdParty.tooltip' }) }}
	{{ include('::menuItemCurrent.html.twig', {'url': url('facultyinfo_user_overview'), 'label': 'menu.user.label', 'tooltip': 'menu.user.tooltip' }) }}
{% endblock %}

{% block content %}
	<table style="width: 100%">
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th></th>
		</tr>
		
		<tr>
			<td><strong>{{ me.name }}</strong></td>
			<td>{{ me.email }}</td>
			<td>
			<a href="{{ url('facultyinfo_user_update', { 'userId' : me.id } ) }}"><img class="tableButton" src="{{ asset('img/buttons/edit.png') }}" /></a>
			<a href="{{ url('facultyinfo_user_delete', { 'userId' : me.id } ) }}"><img class="tableButton" src="{{ asset('img/buttons/delete.png') }}" /></a>
			</td>
		</tr>
	
		{% for user in users %}
			<tr>
				<td>{{ user.name }}</td>
				<td>{{ user.email }}</td>
				<td>
				<a href="{{ url('facultyinfo_user_update', { 'userId' : user.id } ) }}"><img class="tableButton" src="{{ asset('img/buttons/edit.png') }}" /></a>
				<a href="{{ url('facultyinfo_user_delete', { 'userId' : user.id } ) }}"><img class="tableButton" src="{{ asset('img/buttons/delete.png') }}" /></a>
				</td>
			</tr>
		{% endfor %}
		
		<tr>
			<td colspan="3">
				<a href="">Neuen Benutzer anlegen...</a>
			</td>
		</tr>
	
	</table>
	
{% endblock %}
