<tr>
	<td colspan="2" class="groupingRow">{{ title }}</td>
	<td class="groupingRow">
		<a href="{{ url('facultyinfo_firstparty_contact_group_update', { 'groupId' : id } ) }}"><img class="tableButton" src="{{ asset('img/buttons/edit.png') }}" /></a>
		<a href="{{ url('facultyinfo_firstparty_contact_group_delete', { 'groupId' : id } ) }}"><img class="tableButton" src="{{ asset('img/buttons/delete.png') }}" /></a>
	</td>
</tr>