<tr>
	<td class="indent"></td>
	<td>{{ title|trans }}</td>
	<td>{{ form_widget(open) }}{{ form_errors(open) }}</td>
	<td>{{ form_widget(from) }}{{ form_errors(from) }}</td>
	<td>{{ form_widget(till) }}{{ form_errors(till) }}</td>
</tr>