{% extends "::frame.html.twig" %}

{% block title %}{% trans %}dashboard.title{% endtrans %}{% endblock %}

{% block header %}{% trans with {'%name%': app.user.name} %}dashboard.header{% endtrans %}{% endblock %}

{% block subheader %}{% trans %}dashboard.subheader{% endtrans %}{% endblock %}

{% block menu %}
	{{ include('::menuItem.html.twig', {'url': url('facultyinfo_firstparty_overview'), 'label': 'menu.firstParty.label', 'tooltip': 'menu.firstParty.tooltip' }) }}
	{{ include('::menuItem.html.twig', {'url': url('facultyinfo_thirdparty_overview'), 'label': 'menu.thirdParty.label', 'tooltip': 'menu.thirdParty.tooltip' }) }}
	{{ include('::menuItem.html.twig', {'url': url('facultyinfo_user_overview'), 'label': 'menu.user.label', 'tooltip': 'menu.user.tooltip' }) }}
{% endblock %}

{% block content %}
	<table style="width: 100%">
		<tr>
			<th>{% trans %}dashboard.columns.name{% endtrans %}</th>
			<th>{% trans %}dashboard.columns.lastUpdate{% endtrans %}</th>
			<th>{% trans %}dashboard.columns.status{% endtrans %}</th>
			<th></th>
		</tr>
		
		<tr>
			<td>{% trans %}dashboard.firstParty{% endtrans %}</td>
			<td>{{ firstPartyLastUpdate|date('d.m.Y H:i') }}</td>
			<td></td>
			<td>
				{{ include(':Button:detail.html.twig', { 'url' : url('facultyinfo_firstparty_overview') } ) }}
			</td>
		</tr>
		
		<tr>
			<td>{% trans %}dashboard.thirdParty{% endtrans %}</td>
			<td>{{ thirdPartyLastUpdate|date('d.m.Y H:i') }}</td>
			<td>
				{% if thirdPartyStatus %}
					<img src="{{ asset('img/buttons/check.png') }}" class="success" />
				{% else %}
					<img src="{{ asset('img/buttons/error.png') }}" class="error" />
				{% endif %}		
			</td>
			<td>
				{{ include(':Button:detail.html.twig', { 'url' : url('facultyinfo_thirdparty_overview') } ) }}
			</td>
		</tr>
		
		<tr>
			<td>{% trans %}dashboard.user{% endtrans %}</td>
			<td></td>
			<td></td>
			<td>
				{{ include(':Button:detail.html.twig', { 'url' : url('facultyinfo_user_overview') } ) }}
			</td>
		</tr>
		
	</table>
{% endblock %}
