{% extends "::frame.html.twig" %}

{% block title %}{% trans %}thirdParty.title{% endtrans %}{% endblock %}
{% block header %}{% trans %}thirdParty.header{% endtrans %}{% endblock %}
{% block subheader %}{% trans %}thirdParty.subheader{% endtrans %}{% endblock %}

{% block breadcrumb %}
	{{ include(':Breadcrumb:start.html.twig') }}
	{{ include(':Breadcrumb:current.html.twig', {'title': 'thirdParty.title', 'target': url('facultyinfo_thirdparty_overview') }) }}
{% endblock %}

{% block menu %}
	{{ include('::menuItem.html.twig', {'url': url('facultyinfo_firstparty_overview'), 'label': 'menu.firstParty.label', 'tooltip': 'menu.firstParty.tooltip' }) }}
	{{ include('::menuItemCurrent.html.twig', {'url': url('facultyinfo_thirdparty_overview'), 'label': 'menu.thirdParty.label', 'tooltip': 'menu.thirdParty.tooltip' }) }}
	{{ include('::menuItem.html.twig', {'url': url('facultyinfo_user_overview'), 'label': 'menu.user.label', 'tooltip': 'menu.user.tooltip' }) }}
{% endblock %}

{% block content %}
	<table style="width: 100%">
		<tr>
			<th>{% trans %}thirdParty.columns.name{% endtrans %}</th>
			<th>{% trans %}thirdParty.columns.lastUpdate{% endtrans %}</th>
			<th>{% trans %}thirdParty.columns.status{% endtrans %}</th>
			<th></th>
		</tr>
		
		{% if busline %}
			{{ include('FacultyInfoThirdPartyDataBundle:Overview:tablerow.html.twig', {'nameTrans' : 'thirdParty.busline.name', 'name' : busline.name, 'lastUpdate' : busline.lastUpdate, 'lastStatuscode' : busline.lastStatuscode} ) }}
		{% endif %}
		
		{% if event %}
			{{ include('FacultyInfoThirdPartyDataBundle:Overview:tablerow.html.twig', {'nameTrans' : 'thirdParty.event.name', 'name' : event.name, 'lastUpdate' : event.lastUpdate, 'lastStatuscode' : event.lastStatuscode} ) }}
		{% endif %}
		
		{% if faq %}
			{{ include('FacultyInfoThirdPartyDataBundle:Overview:tablerow.html.twig', {'nameTrans' : 'thirdParty.faq.name', 'name' : faq.name, 'lastUpdate' : faq.lastUpdate, 'lastStatuscode' : faq.lastStatuscode} ) }}
		{% endif %}
		
		{% if menu %}
			{{ include('FacultyInfoThirdPartyDataBundle:Overview:tablerow.html.twig', {'nameTrans' : 'thirdParty.menu.name', 'name' : menu.name, 'lastUpdate' : menu.lastUpdate, 'lastStatuscode' : menu.lastStatuscode} ) }}
		{% endif %}
		
		{% if news %}
			{{ include('FacultyInfoThirdPartyDataBundle:Overview:tablerow.html.twig', {'nameTrans' : 'thirdParty.news.name', 'name' : news.name, 'lastUpdate' : news.lastUpdate, 'lastStatuscode' : news.lastStatuscode} ) }}
		{% endif %}
		
		{% if sportscourse %}
			{{ include('FacultyInfoThirdPartyDataBundle:Overview:tablerow.html.twig', {'nameTrans' : 'thirdParty.sportscourse.name', 'name' : sportscourse.name, 'lastUpdate' : sportscourse.lastUpdate, 'lastStatuscode' : sportscourse.lastStatuscode} ) }}
		{% endif %}

	</table>
{% endblock %}
