<tr>
	<td class="indent"></td>
	<td>{{ title }}</td>
	<td>{% trans with { '%entries%' : entries } %}firstParty.mapmarker.overview.count{% endtrans %}</td>
	<td>
		<a href="{{ url('facultyinfo_firstparty_mapmarker_category', { 'categoryId' : id } ) }}"><img class="tableButton" src="{{ asset('img/buttons/detail.png') }}" /></a>
		<a href="{{ url('facultyinfo_firstparty_mapmarker_category_update', { 'categoryId' : id } ) }}"><img class="tableButton" src="{{ asset('img/buttons/edit.png') }}" /></a>
		<a href="{{ url('facultyinfo_firstparty_mapmarker_category_delete', {'categoryId' : id } ) }}"><img class="tableButton" src="{{ asset('img/buttons/delete.png') }}" /></a>
	</td>
</tr>