{% extends "::frame.html.twig" %}

{% block title %}{% trans %}userManagement.overview.title{% endtrans %}{% endblock %}
{% block header %}{% trans %}userManagement.overview.header{% endtrans %}{% endblock %}
{% block subheader %}{% trans %}userManagement.overview.subheader{% endtrans %}{% endblock %}

{% block breadcrumb %}
	{{ include(':Breadcrumb:start.html.twig') }}
	{{ include(':Breadcrumb:current.html.twig', {'title': 'userManagement.overview.title', 'target': url('facultyinfo_user_overview') }) }}
{% endblock %}

{% block menu %}
	{{ include('::menuItem.html.twig', {'url': url('facultyinfo_firstparty_overview'), 'label': 'menu.firstParty.label', 'tooltip': 'menu.firstParty.tooltip' }) }}
	{{ include('::menuItem.html.twig', {'url': url('facultyinfo_thirdparty_overview'), 'label': 'menu.thirdParty.label', 'tooltip': 'menu.thirdParty.tooltip' }) }}
	{{ include('::menuItemCurrent.html.twig', {'url': url('facultyinfo_user_overview'), 'label': 'menu.user.label', 'tooltip': 'menu.user.tooltip' }) }}
{% endblock %}

{% block content %}
	<table style="width: 100%">
		<tr>
			<th>{% trans %}userManagement.overview.columns.username{% endtrans %}</th>
			<th>{% trans %}userManagement.overview.columns.email{% endtrans %}</th>
			<th></th>
		</tr>
		
		<tr>
			<td class="specialRow">{{ me.name }}</td>
			<td class="specialRow">{{ me.email }}</td>
			<td class="specialRow">
				{{ include(':Button:edit.html.twig', { 'url' : url('facultyinfo_user_update', { 'userId' : me.id } ) } ) }}
			</td>
		</tr>
	
		{% for user in users %}
			<tr>
				<td>{{ user.name }}</td>
				<td>{{ user.email }}</td>
				<td>
					{{ include(':Button:edit.html.twig', { 'url' : url('facultyinfo_user_update', { 'userId' : user.id } ) } ) }}
					{{ include(':Button:delete.html.twig', { 'url' : url('facultyinfo_user_delete', { 'userId' : user.id, 'confirmed' : 0 } ) } ) }}
					{{ include(':Button:resetPassword.html.twig', { 'url' : url('facultyinfo_user_reset', { 'userId' : user.id, 'confirmed' : 0 } ) } ) }}
				</td>
			</tr>
		{% endfor %}
		
		<tr>
			<td colspan="3">
				<a href="{{ url('facultyinfo_user_create') }}">{% trans %}userManagement.overview.newUser{% endtrans %}</a>
			</td>
		</tr>
	
	</table>
	
{% endblock %}
